{% extends 'base.html' %}
{% load static %}

<!-- 가격 천원 앞에 콤마 붙이려구 load humanize 사용! 표시하고 싶은 곳에 |intcomma 쓰면 된다는 새로운 정보 -->
{% load humanize %}
{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/main/product_detail_page.css' %}" />
</head>

<div class="product-intro">
  <img class="product-img" src="{% static 'assets/products/choonsik_purple.png' %}" />
  <div class="product-content">
    <p class="delivery-type">샛별배송</p>
    <p class="product-name">{{product.name}}</p>
    <div class="product-price">
      <p class="discount-rate">{{product.discount_rate}}%</p>
      <p class="discount-price" id="unit-price" data-unit-price="{{ product.discount_price }}">{{product.discount_price|intcomma}} 원</p>
    </div>
    <div class="notice-box">
      <p class="notice">안내사항</p>
      <p class="notice-content">{{product.notice}}</p>
    </div>
    <div class="select-box">
      <p class="select">상품선택</p>

      <div class="product-option">
        <p>{{product.name}}</p>
        <div class="counter">
          <button onclick="decreaseQuantity()">-</button>
          <span id="quantity">1</span>
          <button onclick="increaseQuantity()">+</button>
        </div>
      </div>

    </div>

    <div class="total-box">
      <div class="total">
        <p class="total-label">총 상품 금액:</p>
        <p class="total-price"><span id="total-price">{{ product.discount_price|intcomma }}</span> 원</p>
      </div>      
      <button class="login-btn">로그인</button>
    </div>
  </div>
</div>


<script src="{% static 'js/main/product_detail_page.js'%}"></script>
{% endblock %}