/* login page - CSS */
.container {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    font-family: 'Pretendard', 'sans-serif';
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.login-text {
    color: #000;
    text-align: right;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 114.286% */
    letter-spacing: -1px;
}

.input-section {
    width: 340px;
    display: flex;
    height: 46px;
    padding: 0px 1px 0px 11px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--stroke-stroke-1, #CCC);
    color: var(--font-font2, #999);

    /* B2 */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -1px;
}

.find {
    display: flex;
    width: 340px;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.login-btn {
    display: flex;
    width: 340px;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.login-btn:disabled {
    background: var(--stroke-stroke-2, #E2E2E2);
    color: var(--font-font2, #999);
}

.signup-btn {
    display: flex;
    width: 340px;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--point-main, #5E0080);
    color: var(--point-main, #5E0080);
    text-align: center;
    text-decoration: none;

    /* Btn */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */

}